@font-face {
  font-family: "Jost";
  src: local("Jost"), url("../assets/fonts/Jost-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "KyivType";
  src: local("KyivType"), url("../assets/fonts/KyivType-Sans.otf") format("opentype");
}